@font-face { font-family: SegoePro; src: url('segoepro.ttf'); }
h1 {
	font-family: SegoePro;
	text-align: center;
	font-size: 12pt;
	color: #ffffff;
}
p {
	font-family: SegoePro;
	text-align: center;
	font-size: 12pt;
	color: #ffffff;
}
html {
	scroll-behavior: smooth;
}
body {
	color: #212121;
}
button {
	font-family: SegoePro;
	text-align: center;
}